{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="thumbnail">
    <img class="aa" src="/static/img/b11.jpg" alt="">
    <div class="my-4 caption da">
        <h1 class="db">About Us</h1>
        <p class="ad"><b>Books tell you more about their owners <br>than the owners do.</b></p>
    </div>
</div>
<div class="text-center dc">
    <div class="container dd">
        <h2 class="de"><b>About The <span style="color:#a30202;">Auther</span></b></h1>
        <h2 class="df">Eloisa B. Lucas</h2>
        <p class="dg"><br> Eloisa Alvarez Bonifacio is married to Pablo M. Lucas. She holds a bachelor's degree in business administration (BBA), is a certified public accountant (CPA, Philippines), a certified government financial manager (CGFM, U.S.A.), a certified fraud specialist (CFS, U.S.A.), and a current tax and financial consultant of EBL &amp; ASSOCIATES (San Diego, CA, U.S.A.), a tax consulting office she established since 1988.
            <br><br>She has borne six children and has seven grandchildren, and she is still active in her profession. Eloisa was the first woman accountant sent by Citizens Democracy Corps (CDC, a nonprofit corporation who has contributed immensely to USAID'S development efforts) to Ukraine, its Villages and Cities, and the Crimean Region in 1997 to present a seminar to the accounting teachers on the subject of Western and International Accounting.
            <br><br>In 1998, she helped some business people in the former USSR Republic of Georgia in their understanding of the western accounting system. She is a member and in the directory of International Who's Who of Professionals (1998), Who's Who of the New Millennium 2000 Special Edition, and Marquis Who's Who Directory 2000-02.</p>
    </div>
</div>

{% endblock body %}