{% extends 'base.html' %}

{% block title %}Books{% endblock title %}

{% block body %}
<div class="thumbnail">
    <img class="aa" src="/static/img/b13.jpg" alt="">
    <div class="my-4 caption ba">
        <h1 class="bb">Books</h1>
        <p class="ad"><b>That's the thing about the books. <br>They let you move without moving your feet.</b></p>
    </div>
</div>

<div class="container text-center my-4">
    <h1 class="bc"><b>The <span style="color:#a30202;">Golden Voice</span> of <br>a COPD Singer</b></h1>
    <h2 class="bd">Overview</h2>
    <p class="be"><br>My husband, Pablo, and I agreed to go on a novena to St. Jude, to Our Mother of Perpetual Help, and to St. Anne. We prayed for our baby to be born without deformities. Our prayer was answered.
        <br><br>
        On November 10, 1961, I gave birth to a normal, healthy baby girl. We named her Judith Anna Marie Socorro. When Judith was already in school, she found it difficult to be writing her long name all the time. She preferred to write only her first name. From then on, everyone started calling her Judith, or Judy for short.
        <br><br>
        Judy was growing up normally until, at the age of 3, her doctor suspected something about her lungs but he did not tell us anything about her actual condition. It was much later when another doctor told us that Judy had a collapsible segment in her left lung. I wondered if the accident I had on my eighth month of pregnancy had something to do with it.
        <br><br>
        In spite of her condition, Judy showed no signs of abnormality. At the age of 8, she started singing in public. She joined in the nationwide Nora Aunor Jr. (Philippines) singing competition, winning first place.
        <br><br>
        Even at an early age, Judith was sensitive to weather changes and air pollution. She was studying in a private, Catholic school. But owing to her chronic asthma attacks and allergies, she frequently missed her classes. We had to get her a private tutor so she could catch up with all the lessons she missed. Eventually, however, we had to transfer her to a public school less stressful for her condition.
        <br><br>
        Judy was known for her unique voice and versatility. In newspapers, they wrote about her as "a little girl with a golden big voice." She had invitations to birthday parties, school programs, and hotels as guest singer. She sang in the popular TV show, "What's New JQ", hosted by Joe Quirino.</p>
</div>
{% endblock body %}