{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="thumbnail">
    <img class="aa" src="/static/img/b2.jpg" alt="">
    <div class="caption">
        <h5 class="ab"><b>Eloisa B Lucas</b></h5>
        <h2 class="ac"><b>The Golden Voice<br>of a COPD Singer</b></h2>
        <p class="ad"><b>Eloisa B Lucas - was the first woman accountant sent by Citizens Democracy Corps to Ukraine, its Villages and Cities, and the Crimean Region in 1997.</b></p>
        <br>
        <a class="btn btn-danger" id="ae" href="https://www.barnesandnoble.com/w/the-golden-voice-of-a-copd-singer-eloisa-lucas/1139886605" target="_blank" role="button">Buy now for - $14.99</a>
    </div>    
</div>
<div class="container text-center my-4">
    <h1 class="af"><b>The <span style="color:#a30202;">Golden Voice</span> of <br>a COPD Singer</b></h1>
    <p class="ag">"I was eight months pregnant with my first child when I had an accident. I fell out of a jeep driven by a family friend. They rushed me to the hospital. I was then afraid I might give birth to a premature baby, but, happily, that did not happen. After a brief observation, the doctor assured me that everything was fine, and I could go home."</p>
    <p class="ah">Eloisa was the first woman accountant sent by Citizens Democracy Corps to Ukraine, its Villages and Cities, and the Crimean Region in 1997.</p>
    <p class="ai">"The best thing about reading is that you can go deeper that what learn in a classroom discussion. Whether it's cooking, dancing, or even cleaning, you can always improve your skills by reading books."
        <br>~ Eloisa B Lucas
    </p>
</div>
<div class="text-center my-4" id="aj">
    <div class="container my-2 px-4" id="ak"><b>10+<br>Book Published</b></div>
    <div class="container my-2 px-4" id="al"><b>16k<br>Book Sold Worldwide</b></div>
    <div class="container my-2 px-4" id="am"><b>10+<br>Worldwide Awards</b></div>
</div>

<div class="container text-center my-4">
    <h2 class="an"><span style="color:#a30202;"><b>New </span>Release</b></h2>
    <p class="ao">Hope is what can help us get through the darkest of times. Eloisa B Lucas is someone who has always hoped for the best to come.</p>
    <p class="ap">Revive your light and hope to continue the journey of hardships by trusting God.</p>
</div>

<div class="container my-2 px-2" id="buy">
    <img src="/static/img/the-golden-voice-of-a-copd.jpg" class="img-fluid" id="aq" alt="background image">
    <a class="text-center" id="ar" href="#">The Golden Voice of a COPD Singer</a>
    <p><b>$14.99</b></p>
    <a class="btn btn-danger" href="https://www.barnesandnoble.com/w/the-golden-voice-of-a-copd-singer-eloisa-lucas/1139886605" target="_blank" role="button">Buy Now</a>
</div>
<div class="container text-center">
    <a class="btn btn-danger" id="as" href="/books" role="button">Overview about the book</a>
    <p><br></p>
</div>
{% endblock body %}