{% extends 'base.html' %}

{% block title %}Shop{% endblock title %}

{% block body %}

<div class="thumbnail">
    <img class="aa" src="/static/img/b14.jpg" alt="">
    <div class="my-4 caption ca">
        <h1 class="cb">Shop</h1>
        <p class="ad"><b>So often, a visit to a book shop has cheered me, and reminded me that there are good things in the world. <br>~ Vincent van Goph</b></p>
    </div>
</div>
<div class="text-center cc">
    <h2 class="cd"><b>Home Products</b></h2>
</div>
<div class="my-4" id="ce">
    <div class="container my-2 px-4" id="cf">
        <img src="/static/img/the-golden-voice-of-a-copd.jpg" class="img-fluid" id="cg" alt="background image">
        <p class="ch">The Golden Voice of a COPD Singer</p>
        <p><b>$14.99</b></p>
        <a class="btn btn-danger" href="https://www.barnesandnoble.com/w/the-golden-voice-of-a-copd-singer-eloisa-lucas/1139886605" target="_blank" role="button">Buy Now</a>
    </div>
    <div class="container my-2 px-4" id="cf">
        <img src="/static/img/mamma&me.jpg" class="img-fluid" id="cg" alt="background image">
        <p class="ch">Mamma & Me</p>
        <p><b>$7.47</b></p>
        <a class="btn btn-danger" href="https://www.amazon.com/Mamma-Me-Eloisa-B-Lucas/dp/1420875795" target="_blank" role="button">Buy Now</a>
    </div>
</div>

{% endblock body %}